<%- include("partials/header" ) %>


   
  

 



 <div id="content-wrap">
    <div class="container content">
       
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header blue-grey"> Public Pastes</div>
                    <ul class="list-group list-group-flush">
                        

                        <% allpaste.forEach(function(allpaste){ %>
                          
                            <li class="list-group-item">
                                <div class="pull-left">
                                    <i class="fa fa-paste blue-grey-text small"></i>
                                    
                                        <i class="fa fa-clock-o text-warning small"></i>
                                    
                                    <a href="/p/<%= allpaste.id %>">  <%= allpaste.title                    %> </a>

                                    <p>
                                        <small class="text-muted">
                                            <%= allpaste.status %>
                                            | <i class="fa fa-eye blue-grey-text"></i> 2
                                            | <%= allpaste.created.toUTCString() %> 
                                        </small>
                                    </p>
                                </div>
                            </li>
                        
                            
                      
                            <% }); %>
           
                        
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>

</div>

<%- include("partials/footer" ) %>